@font-face {
    font-family: "iconfont"; /* Project id 4832794 */
    src: url('//at.alicdn.com/t/c/font_4832794_d823b67fkyh.woff2?t=1739983263805') format('woff2'),
         url('//at.alicdn.com/t/c/font_4832794_d823b67fkyh.woff?t=1739983263805') format('woff'),
         url('//at.alicdn.com/t/c/font_4832794_d823b67fkyh.ttf?t=1739983263805') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-QQ:before {
    content: "\e882";
  }
  
  .icon-wechat:before {
    content: "\e607";
  }
  
  .icon-tubiaozhizuomobanff:before {
    content: "\e602";
  }
  
  .icon-email-fill:before {
    content: "\e856";
  }
  
  .icon-bilibili:before {
    content: "\e605";
  }
  